@font-face {font-family: "iconfont-home";
  src: url('iconfont.eot?t=1556781109192'); /* IE9 */
  src: url('iconfont.eot?t=1556781109192#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKwAAsAAAAABrgAAAJkAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBRIE0ATYCJAMICwYABCAFhG0HLhvYBcgekiRFSiRQCETuYxLGEw//rfG7b3a+alKNrskEyT+RCgk6TTQ0s0jmEJJn8v7fnP4Sqw7wDxQlaWXViBTa4r+EL7vcSI3VFKDQqNSeZ+Hm59bVANTwDbic/gookHlAue1JYw4cEzCwNI/2wCiyIplkDWMXuITLBGr1GBPanltZh6TMmhWIO6Zeh2TOJ8ssWS1U1mzM4r4K1elu+gbcC58f/5QjSVJRsMqOrmdbMPGTnRY5LA/d9gl+AtpegQJTQCbOamMHIoKxI2pjUQNgX8XBT/+lbxV7NQn211mF9aALiu9J4kpvtTCBHA8uAtujfmFSd7cbefh97uswnH36sity9KBdvzsv0s1DMXz/fDjbUHYwAondOd93FyXouw5/rN06Oyi/9zx4I9u4SH1MDKHxZSYASsVj0SuE4Oabv8ZqYfl/MpPBj7+aCT2lDP0coPps9uCvSXp2ZF1mWVJWJbWOZHHUzIRatSjDrlY/Y/Udt5gK1Tpu1FGlO0Wh2hCZWVOoUGcalaqtodak+e112ggRkWsw4QwgNHtF0ugDCs3eyMz6RoVOv6jUHBHUuoi2A+uMhJneElSX1MLGPppN7jHHJtNR8Srp205dZGUhZ5NEYAaxpGjF5Dx5JOZYEuzoZSkZMsFdnAPXkeNw9AW3qCkVQ0q/oqqs7k5Kk7uQtkUgdRJpQQ37kKmJ8zC/v5QuPX4V0W1z1ImWmprwJiIEzOFRiULrQc6rvV4193JLYIeuTJIYxAicC82BccTh4JBfP85CmiSFMSLiq1DtXqyvWllf635AEWvAMqSwqwt5n7sEAA==') format('woff2'),
  url('iconfont.woff?t=1556781109192') format('woff'),
  url('iconfont.ttf?t=1556781109192') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1556781109192#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont-home" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont:before {
  content: "\e6d5";
}

